/*
* @Author: Timi Wahalahti
* @Date:   2018-01-17 13:32:38
* @Last Modified by:   Timi Wahalahti
* @Last Modified time: 2018-01-17 13:41:13
*/

.carbon-field.no-border {
	border: 0 !important;
}

.carbon-field.no-top-border {
	border-top: 0 !important;
}

.carbon-field.no-right-border {
	border-right: 0 !important;
}

.carbon-field.no-left-border {
	border-left: 0 !important;
}

.carbon-field.no-bottom-border {
  border-bottom: 0 !important;
}

.carbon-field.carbon-html {
	padding-bottom: 0 !important;
}

.carbon-field.carbon-html .field-holder h2,
.carbon-complex > label {
	padding-left: 0 !important;
	font-weight: 600 !important;
	font-size: 16px !important;
}
